@using FourYearClassPlanningTool.Models.Users.Entities;
@{
    ViewData["Title"] = "Schedules";
    ICollection<Schedule> schedules = (ICollection<Schedule>)ViewData["Schedules"];
    int[] tblIds = new int[schedules.Count];
    for (int i = 0; i < tblIds.Length; i++)
    {
        tblIds[i] = i;
    }

    // List<Schedule> createSchedules();
}

<style>
    table {
        border: 3px solid #216A9B;
        background-color: lightblue;
    }

    th, td {
        border: 1px solid black;
        background-color: lightblue;
    }

    select, button, submit {
        background-color: lightblue;
    }
</style>

<script type="text/javascript">

    function addCourse(o) {
        var tableRef = o.parentNode.parentNode.parentNode;
        var originalSelect = document.getElementById("courses");
        var rowIndex = o.parentNode.parentNode.rowIndex;
        var newRow = tableRef.insertRow(rowIndex - 1);

        var newCell = newRow.insertCell(0);
        var newElem = document.createElement("select");
        newElem.innerHTML = originalSelect.innerHTML + newElem.innerHTML;
        newCell.appendChild(newElem);
        newCell = newRow.insertCell(1);
        newElem = document.createElement("input");
        newElem.setAttribute("type", "button");
        newElem.setAttribute("value", "Remove Course");
        newElem.setAttribute("onClick", 'deleteRow(this)');
        newCell.appendChild(newElem);
    }

    function deleteRow(o) {
        var p = o.parentNode.parentNode;
        p.parentNode.removeChild(p);
    }

</script>

<h2>Schedules</h2>

<u1>
    @if (ViewData["Schedules"] != null)
    {
        if(ViewData["ErrorMessage"] != null)
        {
            <h4>@ViewData["ErrorMessage"]</h4>
        }
        int count = 0;
        @foreach (Schedule s in (ICollection<Schedule>)ViewData["Schedules"])
        {
            <table id="tbl-+@count.ToString()" style="width:100%">
                <thead>
                    <tr>
                        <th colspan="2">@s.Semester</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Course c in s.Courses)
                    {
                        <tr>
                            <td>@c.Name</td>
                            <td>
                                @Html.ActionLink("Remove", "Remove", new { courseId = c.CourseId, scheduleId = s.ScheduleId});
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <select name="course" id="courses">
                                <option value="">No Selection</option>
                                @foreach (string courseName in (List<string>)ViewData["Courses"])
                                {
                                    <option value="@courseName">@courseName</option>
                                }
                            </select>
                        </td>
                        <td>
                            @Html.ActionLink("Add", "Add", new { courseName = "Judicial Politics", scheduleId = s.ScheduleId });
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            count++;
        }
    }
</u1>
