@model FourYearClassPlanningTool.Models.Requirements.Entities.Degree
@using FourYearClassPlanningTool.Models.Requirements.Entities;


@{
    ViewBag.Title = "Modify Degree";
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modify Degree</h2>


<table class="table">
    @foreach (var course in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => course.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.Credits)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new { DegreeID = Model.DegreeId, CourseID = course.CourseId }) |
            </td>
        </tr>
    }
    @foreach(var courseGroup in Model.CourseGroups)
    {
        @foreach(var course in courseGroup.Courses)
        {
            <tr>
                 <td>
                       @Html.DisplayFor(modelItem => course.CourseId)
                 </td>
                 <td>
                       @Html.DisplayFor(modelItem => course.Name)
                 </td>
                 <td>
                       @Html.DisplayFor(modelItem => course.Credits)
                 </td>
                 <td>
                       @Html.ActionLink("Remove", "Remove", new { DegreeID = Model.DegreeId, CourseID = course.CourseId }) |
                 </td>
            </tr>
        }
    }
</table>