@model FourYearClassPlanningTool.Models.Users.Entities.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>
<h4>Name</h4>
<input id="name" type="text" value=@Model.Name>
<h4>Year</h4>
<input id="year" type="text" value=@Model.Year>
<input type="button" value="Save" onclick="AddNewSchedule();" />
<script type="text/javascript">
            function AddNewSchedule() {
                var name = document.getElementById("name").value;
                var year = document.getElementById("year").value;
                var link = '@Url.Action("Update", "Profile")?name='+name+"&year=" + year;
                window.location.href = link;
                }
</script>
<h3> Your Degrees </h3>
<table class="table">
    <tr>
        <th>
            Degree
        </th>
        <th>
            Concentration
        </th>
        <th>
            Code
        </th>
        <th></th>
    </tr>

    @foreach (var item in (List<FourYearClassPlanningTool.Models.Requirements.Entities.Degree>)ViewData["MyDegrees"])
    {
        @if (item != null)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Concentration
                </td>
                <td>
                    @item.DegreeId
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveDegree", new { degreeId = item.DegreeId }) |
                </td>
            </tr>
        }
    }
</table>
<h3>Other Degrees</h3>
<table class="table">
    <tr>
        <th>
            Degree
        </th>
        <th>
            Concentration
        </th>
        <th>
            Code
        </th>
        <th></th>
    </tr>

    @foreach (var item in (List<FourYearClassPlanningTool.Models.Requirements.Entities.Degree>)ViewData["PossibleDegrees"])
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Concentration
            </td>
            <td>
                @item.DegreeId
            </td>
            <td>
                @Html.ActionLink("Add", "AddDegree", new { degreeId = item.DegreeId }) |
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
